
%h1 
  GE Welcome Business Owner: 
  %em #{current_business.name}
%h2 Referral Link format for your users
%p The link for each of your users to their referral page is
.well
  %p
    %tt< 
      #{root_url}d/#{current_business.id}/
      %strong> your_users@email_addresss.com

%p
  for example, your own personal referral link is: 
%p
  %em
    #{root_url}d/#{current_business.id}/#{url_encode(current_business.email)}

%hr
%h2 Conversion tracking pixel image
%p Please place this image in the html of your post-conversion page.
.well
  %p
    %tt #{root_url}#{current_business.id}/t.gif
  %p
    like this...
  %p
    %tt &lt;img src="#{root_url}#{current_business.id}/t.gif"&gt;

%h2 Your Business Stats

%table.table
  %tbody
    %tr
      %th Total registered Referrers (users)
      %td #{current_business.referrers.count}
    %tr
      %th Total Click throughs
      %td #{current_business.referrers.sum(:click_count)}
    %tr
      %th Total Conversions
      %td #{current_business.referrers.sum(:conversion_count)}

%hr
%p 
  %a.btn.btn-default{href: edit_business_registration_path } Edit Business Details
  &nbsp;
  %a.btn.btn-danger{href: destroy_business_session_path, 'data-method' => 'DELETE' } Logout

