
%h1 Personal Referral Dashboard
%h2
  Referals from
  %em #{@referrer.email}
  for
  %em #{@business.name}

- my_url = redirect_url(@business, @referrer)
.well
  %h3 Your link to share is:
  %h1
    %a{href: my_url}= my_url
  
%p 
  - subject = "FYI: #{@business.name}"
  - body = "Hi,\n\nI thought you might be interested in checking out this new thing: #{@business.name}.\n\n\nHere is my #{@business.name} link:\n\n#{my_url}\n\nIt is awesome!\n\n\nthanks!"
  %strong 
    Share your 
    %em #{@business.name} 
    link with a friend by email:
  Click to open email &rarr; 
  %a.btn.btn-primary(target="_blank"){:href => "mailto:?subject=#{url_encode(subject)}&body=#{url_encode(body)}"} 
    %i.glyphicon.glyphicon-send
    &nbsp;
    Share by Email

%p 
  %strong 
    Share your 
    %em #{@business.name} 
    link with your followers on twitter &rarr;
    %a.btn.btn-primary(target="_twitter"){:href => "https://twitter.com/home?status=#{url_encode("A new thing: #{@business.name} #{my_url}")}" }
      %i.glyphicon.glyphicon-share
      &nbsp;
      Share by Twitter


%table.table
  %thead
    %tr
      %th Category
      %th Your Count
  %tbody
    %tr
      %th Clicks
      %th #{@referrer.click_count}
    %tr
      %th Conversions
      %th #{@referrer.conversion_count}


%h3 Reward Progress

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th #
      %th Reward
      %th Conversions Required
      %th Progress
  %tbody
    - [1, 2, 3].each do |i|
      - ri = @business.send("reward_#{i}".to_sym)
      - ti = @business.send("threshold_#{i}".to_sym)
      - if ri.present? and ti.present? and ti > 0
        %tr
          %th #{i}.
          %td #{ri}
          %td #{ti}
          %td 
            - if @referrer.conversion_count >= ti
              100%
            - else
              #{(@referrer.conversion_count / ti).to_i}%
  
