
%h1 Your Referral Dashboard
%h2
  Referals from
  %em #{@referrer.email}
  for
  %em #{@business.name}

.well
  %h3 Your link to share is:
  %h1
    %a{href: redirect_url(@referrer)}= redirect_url(@referrer)
  

%table.table
  %thead
    %tr
      %th Category
      %th Count
  %tbody
    %tr
      %th Clicks
      %th #{@referrer.click_count}
    %tr
      %th Conversions
      %th #{@referrer.conversion_count}


%h3 Reward Progress
%p  Todo: x%/whatever to rewardX, 
 
